:root{
    --main-bg-color: crimson;
}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* max-width: 70%;
    margin: 0 15%; */
}

header{
    width: 100%;
    height: 30px;
    background-color: #ffff;
    /* padding: 10px 0; */
    margin-bottom: 10px;
    
}

header .head{
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-left: 50px;
    margin-top: 20px;
}

.leftside .icon i{
    
    padding: 4px;
   margin-left: 20px;
   border-radius: 5px;
   color: gray;
   background-color: rgb(246, 239, 239);
   justify-content: center;
   align-items: center;
}

.leftside i:hover{
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: white;
}

header .heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(168, 163, 163) ;
   
}

nav button{
  border: none; 
  color:rgb(168, 163, 163) ;
  margin-left: 10px;
  background-color: #ffff;

}

.subhead{
    /* padding: 40px; */
    width: 90%;
    height: 100px;
    /* border: solid 1px rgb(168, 163, 163); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}

header hr{
    margin-top: 10px;
    border-top: solid 1px rgb(168, 163, 163);
    width: 100%;
}

.subhead hr{
    margin-top: 10px;
    border-top: solid 1px rgb(168, 163, 163);
    width: 100%;  
}

.title{
    color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 400;
    font: normal;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 700px;
    border: 1px solid rgb(168, 163, 163) ;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

form input{
    border: none;
    color: rgb(168, 163, 163);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form button {
    border: none;
    color: rgb(168, 163, 163);
}

.subhead{
    display: flex;
    
}

.subhead nav .icon2 i{
    font-size: 1.4em;
    padding: 0.4em;
    cursor: pointer;
    
}
.subhead nav .icon2 span{
    position: absolute;
    background: var(--main-bg-color);
    padding: 1px 5px ;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    margin-left: -12px; 
}

 main .option{
    display: flex;
    justify-content: space-around; 
    padding: 20px 100px;
    cursor: pointer;  
}



.banner img{
    display: block;
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
     margin: 0 70px;
    position: relative;
    justify-content: center;
    align-items: center;

}

.banner .text{
    position: absolute;
    margin-top: -500px;
    padding: 0 250px;
    width: 25%;
 }

 .banner .text h2{
    color: var(--main-bg-color);
    opacity: 0.8;
 }

 .banner .text h1{
    font-size: 45px;
 }

 .banner .text h3{
    color: gray;
 }

 .banner .text h3 span{
    font-size: 30px;
 }

 .banner .text button{
    background: var(--main-bg-color);
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
 }


 .hor-item .block img{
    width: 60px;
    border: solid 1px rgb(168, 163, 163);
    border-radius: 5px;
    position: relative;
 }

 .hor-item .block{
    border: solid 1px rgb(168, 163, 163);
    display: flex;
    width: 20%;
    padding: 0.5% 0.5%;
    border-radius: 5px;
 }

 .hor-item .block .discription {
    margin-left: 10px;
 }

  .block .discription h5 span{
    margin-left: 35px;
    color: gray;
  }

  .block .discription h6{
    color: var(--main-bg-color);
    margin-top: 20px;
  }

  .hor-item{
    display: flex;
    justify-content:space-between;
    margin: 20px 70px;
   
 
  
}


.content{
    display: flex;
    /* justify-content: end; */
   
}

aside{
    flex: 25%;
    padding: 20px;
    

}


.sticky{
    position: sticky;
    top: 20px;
}


 aside ul{
    font-size: large;

 }


 






.block2{
    display: flex;
    justify-content:space-around;
    margin: 2% 7%;
}

.block2 .new_arrival h4{
    border-bottom: solid 1px rgb(227, 224, 224);
    margin-bottom: 20px;
    /* width: 120%; */
}

.block2 .box{
    border: solid 1px rgb(227, 224, 224);
    width: 300px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    padding: 0.5% 0.5%;
    margin-bottom: 20px;

  }

  .block2 .box img{
    width: 60px;
    border-radius: 5px;
    position: relative;
  }

  .block2 .box p{
    font-size: 12px;
  }
  .block2 .box h6{
   color: var(--main-bg-color);
   font-size: 14px;
  }

  .block2 .box h6 span{
    color: gray;
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 12px;
  }

  .block2 .box .discription{
    margin-left: 15px;
  }


  .block2 .trending h4{
    border-bottom: solid 1px rgb(227, 224, 224);
    margin-bottom: 20px;
    
}

.block2 .trending{
    margin: 0 20px;
}

.block2 .top_rated h4{
    border-bottom: solid 1px rgb(227, 224, 224);
    margin-bottom: 20px;
    /* width: 120%;    */
}


.sidebar1{
    padding-left: 65px;
    width:auto ;
    height: auto;
}

.sidebar1 .list{
    display: flex;
    justify-content: space-between;
}

.sidebar1 h4{
   margin-bottom: 10px; 
}

.sidebar1 .article{
    /* margin-bottom: 10px; */
    color: rgb(145, 138, 138);
    padding: 10px 0;
}

 .sidebar1 span{
    margin-left: 100px;
    padding-top: 10px;
 }  

.sidebar1 img{
    width: 20px;
    margin-right: 20px;
}


.sidebar2{
    padding-left: 65px;
    /* position: sticky; */
    /* top: 500px; */
    
    
}

.sidebar2 h4{
    margin: 20px 0;
}

.sidebar2 .box{
    border: solid 1px rgb(251, 248, 248);
    width: 300px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    padding: 0.5% 0.5%;
    margin-bottom: 20px;

  }

  .sidebar2 .box img{
    width: 60px;
    border-radius: 5px;
    position: relative;
  }

  .sidebar2 .box p{
    font-size: 12px;
  }
  .sidebar2 .box h6{
    color: gray;
    text-decoration: line-through;
   font-size: 14px;
  }

  .sidebar2 .box h6 span{
   
    color: var(--main-bg-color);
    
    margin-left: 5px;
    font-size: 12px;
  }

  .sidebar2 .box .discription{
    margin-left: 15px;
  }
  .sidebar2 i{
    color: orange;
  }

  .bestdeal{
    padding: 0 55px;
  }


  .bestdeal h4{
    border-bottom: 2px solid  rgb(227, 224, 224);
    width: 100%;
    margin-bottom: 20px;
  }
  .deal{
    border: 2px solid  rgb(227, 224, 224);
    border-radius: 5px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .deal img{
    width: 300px;
    height: 300px;
  }

  .about i{
    color: orange;
    margin: 10px 0;
  }
   
  .about .productname{
    font-weight:bold;
    margin: 10px 0;

  }

  .about h5{
    color: var(--main-bg-color);
    
    margin-left: 5px;
    font-size: larger;
    margin: 10px 0;
  }
 
  .about h5 span{
    color: gray;
    text-decoration: line-through;
   font-size: larger;
   margin-left: 10px;
   
  }
   .about .btn{
    border: none;
    background-color: rgb(249, 95, 95);
    color: whitesmoke;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin: 10px 0;
    /* box-shadow: 20px; */
   }
  
   .stats{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
   }

   .stats h6{
    color:  gray;
    font-size: 15px;
   }
   .stats h6 span{
    color: rgb(38, 38, 38) ;
   }

   /* .hor-bar{
    padding-right:20px;
   } */


   .bestdeal .line{
    background-color: #7a7474;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
   }

   .bestdeal .line .innerline{
    width: 50%;
    background-color: var(--main-bg-color);
    padding: 2px;
    border-radius: 5px;
   }



    /* .hor-bar hr .line1{
     height: 8px;
   } */

   .message h5{
    color: rgb(35, 34, 34);
   }
   .time{
    display: flex;
    margin-bottom: 20px;
   
   }

   .time .days{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(196, 186, 186);
    justify-content: center;
    align-items: center;
    /* margin: 6px 6px; */
    
   }
   .time .day{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(196, 186, 186);
    
    
   }
   .time .day p{
    margin: 6px 7px;
    justify-content: center;
   }

   .time .days p{
    margin: 6px 7px;
    justify-content: center;
   }



 
   /* section{
    margin-left: 80px;
    width: 100%;
    overflow: hidden;

   } */

   section{
    margin-left: 55px;
   }

section p{
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    width: 80%;
    
}

section hr{
    margin: 20px 0;
    width: 92%;
    /* justify-content: center; */
    align-items: center;
    border:1px solid rgb(230, 225, 225);
}

.wrapper{
    width:auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border:none ;
    width:100% ;
    

}



   .productsblock{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 92%;
   }
  
   .product1{
    border: 2px solid rgb(230, 225, 225);
    border-radius: 5px;
    width: 200px;
    align-items: center;
    justify-content: center;

 }
   
 .product1 img{
    width: 180px;
    height:150px;
    align-items: center;
 }

 .product1 .pdt-name{
    color: #e56f65;
    font-size: large;
    margin: 5px 10px;
    font-weight: bold;
 }
 .pdt-discription{
    color: #b2b2b2;
    font-size: large;
    margin: 5px 10px;
 }

 .pdt-rating{
    color: orange;
    margin: 5px 10px;
 }

   .price h5{
    color: var(--main-bg-color);
    font-size: large;
    margin: 5px 10px;
   }

   .price h5 span{
    color: #b2b2b2;
    text-decoration: line-through;
    margin-left: 10px;
   }
    
   
   .wrapper1{
    width:auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border:none ;
    width:100% ;
    

}

.productsblock1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 92%;
    margin: 10px 0;
   }


   .wrapper2{
    width:auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border:none ;
    width:100% ;
    

}

.productsblock2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 92%;
    margin: 10px 0;
   }


   .templates{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .testmonial{
    border: 2px solid rgb(244, 240, 240);
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    /* margin-top: 50px; */
    
   }

   .testmonial .image{
    width: 150px;
    height:150px;
    border-radius: 50%;
   }

   .testmonial .quotes{
    width: 50px;
    height:50px;
   }

   .testmonial  p .words{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
   }

   .templates{
    /* border: 1px solid black ; */
    width: 96%;
    /* margin-left:82px; */
    margin-left: 2%;
   
   }

   .templates p{
    border-bottom: 1px solid rgb(220, 218, 218);
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
   }

   .center{
    margin: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
   }
   .center img{
   border-radius: 8px;

   }


   .banner2{
   border-radius: 5px;
   width: 55%;
   height: 55%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(246, 229, 229, 0.5);
   position: absolute;
   left: 23%;
   top:28%;
    

   }

   .banner2 span{
     font-size: 12px;
     color: white;
     background-color: black;
     width: 55%;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     font-weight: bold;
     /* margin-top: 30px; */
   }

   .banner2 h3{
    font-size: 20px;
    width: 60%;
    text-align: center;
    margin-top: 5px;
   }

   .banner2 h4{
    font-size: large;
    color: #7a7474;
    margin-top: 5px;
   }

   .banner2 h5{
    font-size: 14px;
    margin-top: 5px;
   }







   .right{
    width: 300px;
    /* border: 2px solid rgb(244, 240, 240); */
   }

   .serviceslist{
    border: 2px solid rgb(244, 240, 240);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 4% 0;
   }

   .services i{
    color: #e56f65;
    font-size: x-large;
    margin: 0 20px;
   }

   .s1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
   }
   .s2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
   }
   .s3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
   }
   .s4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
   }

   .s5{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    
   }

   .templates2{
    width: 90%;
    /* border: #7a7474 1px solid; */
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  30px 0;
   }

   .fashion img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    /* margin-left: 10px; */
   }

   .fashion{
    width: 300px;
   }

   .fashion h4{
    color: #e56f65;
   }

   .fashion h3{
    color: rgb(28, 27, 27);
   }

   .fashion{
    color: #b2b2b2;
   }


   footer{
    background-color: #212020;
    color: white;
    padding: 40px 0 ;
   }

   footer hr{
    padding:  30px 0;
   }

   .branddirectory{
      margin: 0 5%;
   }


  .branddirectory  .bio{
    font-size: large;
    font-weight: bold;
    color: #e56f65;
  }

  .branddirectory .section{
    font-size: large;
    font-weight: bold;
    color: #b2b2b2;
    margin: 50px 0;
  }

  .branddirectory p{
    margin: 30px 0;
    color: #7a7474;
  }

  footer hr{
    border-bottom: #e1dede;
    padding: 30px 0;
  }

.aboutsection{
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 5%;
    padding:  30px 0;
}

.aboutsection li{
margin: 20px 0;
list-style-type: none;
}

.aboutsection .company span{
    color: #e1dede;
    border-bottom: solid #e56f65 ;
}

.aboutsection .company li{
    color: #7a7474;
}

.companyinfo span{
    color: #e1dede;
    border-bottom: solid #e56f65 ; 
}

.companyinfo p{
    color: #7a7474;
}
.companyinfo .i{
    margin :10px 0;
}


.companyinfo .i i{
    color: #7a7474;
}

.payments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}

.payments img{
    display: flex;

}

.payments p{
    color: #7a7474;  
}



  


